#jumbotron{
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-left: 10%;
  padding right: 10%;

}
.jumbotron{
  background-image: url("../images/foodsBg.jpg");

}
.col-md-8{
  text-align: center;
}
#well{
  background-image: url("../images/subscribe.jpg");
  text-align: center;
  
}
